.dialog {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: fit-content;
    max-width: 90vw;
    height: fit-content;
    z-index: 1;
}

.dialogHeader {
    position: relative;
}

.dialogClose {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}