.recipe_preview {
    max-width: 280px;
    justify-content: space-between;
    position: relative;
}

.recipe_preview:hover {

}

.recipe_image {
    background-color: var(--bg3);
    width: 280px;
    height: 200px;
}

.recipe_preview_select {
    position: absolute;
    top: var(--spacingSmall);
    right: var(--spacingSmall);
}