.hero {
  min-height: 80vh;
  padding: var(--spacingLarge);
  padding-top: var(--navbarHeight);
  justify-content: space-between;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.7) 0 0 0 10000px inset;
  overflow: hidden;
}

.heroHeader {
  margin-top: 25vh;
}

.heroBg {
  position: absolute;
  object-fit: contain;
  z-index: -1;
  margin: auto;
  left: 0;
  right: 0;
}