* {
    margin: unset;
    padding: unset;
    box-sizing: content-box;
    outline: unset;
    font-size: unset;
    text-decoration: unset;
    border: unset;
    width: unset;
    color: unset;
}

body {
    color: #ffffff;
    font-family: 'sans-serif', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    /* Colors */
    --bg1:rgb(18, 21, 28);
    --bg2:rgb(29, 34, 46);
    --bg3:rgb(39, 46, 61);
    --bg4:rgb(49, 58, 76);
    
    /* Spacing */
    --spacingXSmall: 2px;
    --spacingSmall: 4px;
    --spacingMedium: 8px;
    --spacingLarge: 16px;
    --spacingXLarge: 32px;
    --spacingXXLarge: 64px;
    /* Font */
    --textXSmall: 12px;
    --textSmall: 14px;
    --textMedium: 16px;
    --textLarge: 20px;
    --textXLarge: 24px;
    --textXXLarge: 32px;
    /*  */
    --defaultBorderRadius: 6px;
    --defaultTransitionTime: 0.2s;

    /* Specifics */
    --navbarHeight: 60px;

    /*  */
    background-color: var(--bg1);
}

.bg1 {
    background-color: var(--bg1);
}

.bg2 {
    background-color: var(--bg2);
}

.bg3 {
    background-color: var(--bg3);
}

.bg4 {
    background-color: var(--bg4);
}

.borderBg1 {
    border: 2px solid var(--bg1);
}

.borderBg2 {
    border: 2px solid var(--bg2);
}

.borderBg3 {
    border: 2px solid var(--bg3);
}

.borderBg4 {
    border: 2px solid var(--bg4);
}

.round {
    border-radius: var(--defaultBorderRadius);
}

.textWeak {
    color: lightslategray;
}

.flexWrap {
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.centerRow {
    justify-content: center;
}

.centerColumn {
    align-items: center;
}

.gapXSmall {
    gap: var(--spacingXSmall)
}

.gapSmall {
    gap: var(--spacingSmall)
}

.gapMedium {
    gap: var(--spacingMedium)
}

.gapLarge {
    gap: var(--spacingLarge)
}

.gapXLarge {
    gap: var(--spacingXLarge)
}

.gapXXLarge {
    gap: var(--spacingXXLarge)
}

.paddingXSmall {
    padding: var(--spacingXSmall)
}

.paddingSmall {
    padding: var(--spacingSmall)
}

.paddingMedium {
    padding: var(--spacingMedium)
}

.paddingLarge {
    padding: var(--spacingLarge)
}

.paddingXLarge {
    padding: var(--spacingXLarge)
}

.paddingXXLarge {
    padding: var(--spacingXXLarge)
}

.paddingSectionSide {
    padding: 0 5vw;
}

.paddingSection {
    padding: var(--spacingLarge) 5vw;
}

.textXSmall {
    font-size: var(--textXSmall);
}

.textSmall {
    font-size: var(--textSmall);
}

.textMedium {
    font-size: var(--textMedium);
}

.textLarge {
    font-size: var(--textLarge);
}

.textXLarge {
    font-size: var(--textXLarge);
}

.textXXLarge {
    font-size: var(--textXXLarge);
}

.button {
    padding: var(--spacingMedium) var(--spacingLarge);
    border-radius: var(--defaultBorderRadius);
    transition: all var(--defaultTransitionTime);
    cursor: pointer;
}

.buttonBg1 {
    background-color: var(--bg1);
}

.buttonBg1:hover {
    background-color: var(--bg2);
}

.buttonBg2 {
    background-color: var(--bg2);
}

.buttonBg2:hover {
    background-color: var(--bg3);
}

.buttonBg3 {
    background-color: var(--bg3);
}

.buttonBg3:hover {
    background-color: var(--bg4);
}

.main {
    display: flex;
    flex-direction: column;
    padding: var(--navbarHeight) 0;
    gap: var(--spacingLarge);
}

.section {
    padding-left: 5vw;
    padding-right: 5vw;
    gap: var(--spacingLarge);
}

.sectionImage {
    width: 70%;
    min-height: 500px;
    max-width: 1920px;
    max-height: 1080px;
    max-height: 60vh;
}

.pill {
    border-radius: 1000px;
    padding: var(--spacingSmall) var(--spacingLarge);
}

.widthFit {
    width: "fit-content";
}